@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&display=swap");

@theme {
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-bricolage-grotesque);

  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-muted: #6b7280;
  --color-metric: #16a34a;
  --color-metric-foreground: #ffffff;
  --color-placeholder: #d0e7ff;
  --color-border: #e5e7eb;
  --color-accent: #f3f4f6;
  --color-card: #f8f8f7;

  --sidebar-width: 260px;
}

.dark {
  color-scheme: dark;

  --color-background: #100d0a;
  --color-foreground: #faf6f2;
  --color-muted: #aba6a0;
  --color-metric: #52d87a;
  --color-metric-foreground: #100d0a;
  --color-placeholder: #2a2420;
  --color-border: #2f2a25;
  --color-accent: #1c1814;
  --color-card: #1c1814;
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth bg-background;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-serif;
  }

  .material-symbols-rounded {
    font-family: "Material Symbols Rounded";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga";
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

nextjs-portal {
  display: none !important;
}
